#
# Database
#
MAGENTO2_DB_HOSTNAME=db
MAGENTO2_DB_ROOTUSERNAME="--user=root"
MAGENTO2_DB_ROOTPASSWORD="--password=password"
MAGENTO2_DB_NAME=magento2
MAGENTO2_DB_USERNAME=magento2
MAGENTO2_DB_PASSWORD=magento2
# For updating Magento - whether to dump the db first before doing anything
MAGENTO2_DB_DUMPNAME=
MAGENTO2_DB_IMPORT=
MAGENTO2_DB_BACKUPFIRST=

#
# Magento 2 Admin
#
MAGENTO2_ADMIN_FIRSTNAME=Admin
MAGENTO2_ADMIN_LASTNAME=User
MAGENTO2_ADMIN_EMAIL=admin@example.com
MAGENTO2_ADMIN_USER=admin
MAGENTO2_ADMIN_USERNAME=admin
MAGENTO2_ADMIN_PASSWORD=password123
MAGENTO2_ADMIN_FRONTNAME=admin

#
# Magento 2 Locale
#
MAGENTO2_LOCALE_CODE=en_GB
MAGENTO2_LOCALE_CURRENCY=GBP
MAGENTO2_LOCALE_TIMEZONE=Europe/London

#
# Magento 2 Environment
#
MAGENTO2_ENV_VERSION=2.2.4

# 'community' or 'enterprise'
MAGENTO2_ENV_EDITION=community

# e.g. http://project.test:8000/
MAGENTO2_ENV_HOSTNAME=

# e.g. /var/www/html/project/htdocs
MAGENTO2_ENV_WEBROOT=

# Whether to use URL rewrites (if using Apache)
MAGENTO2_ENV_USEREWRITES=1

# Whether to add security key to URLs in admin
MAGENTO2_ENV_USESECURITYKEY=1

# Where to save session files
MAGENTO2_ENV_SESSIONSAVE=files

# Whether to enable Magento 2 cron jobs
MAGENTO2_ENV_ENABLECRON=

# The user which owns the files (e.g. administrator)
MAGENTO2_ENV_CLIUSER=

# The web server group (e.g. www-data)
MAGENTO2_ENV_WEBSERVERGROUP=

# Install sample data?
MAGENTO2_ENV_USESAMPLEDATA=false

#
# Extra commands to pass to bin/magento setup:install command
#

# Set to "--cleanup-database" to enable this
MAGENTO2_INSTALLCOMMAND_CLEANUPDATABASE=

#
# Themes to exclude from bin/magento setup:static-content:deploy command
#

# Set to true to exclude configure themes from static content generation steps
MAGENTO2_STATICCONTENTDEPLOY_EXCLUDE=true

# Configure your excluded themes here
MAGENTO2_STATICCONTENTDEPLOY_EXCLUDEDTHEMES=" --exclude-theme=Magento/blank "